.DS_Store
*.pyc
*.pyo
*.csv
*.jpg
env
env*
dist
build
*.egg
*.egg-info
_mailinglist
.tox
.cache/
.idea/
venv/
__pycache__/
data/
trained_models/

# Coverage reports
htmlcov
.coverage
.coverage.*
*,cover
